.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2 {
  text-align: center;
}

.holiday-list, .holiday-form {
  margin: 0 100px 20px 100px;
}

table {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

a {
  margin-bottom: 20px;
}

button {
  float: right;
  display: block;
  margin-top: 20px;
}
